/* общие свойства списков */
%list {
  list-style: none;
}

/* Общие свойства для ссылок */
%link {
  text-decoration: none;
}

/* Общие свойства изображений */
%img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Общий шрифт uppercase */
%font-uppercase {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Общий шрифт title */
%font-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* общие свойства списков в шапке */
%header-list {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* общие свойства ссылок в шапке */
%header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* общие свойства заголовков h2, h3 */
%title {
  color: $title-text-color;
}
